/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

.rag-red-outer .rag-element {
    background-color: gray;
  }
  
  .rag-green-outer .rag-element {
    background-color: white;
  }

  .flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid green;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 30px;
  }

  .button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 30px;
  }